<% layout('layouts/boilerplate')%>

    <div class="container">
        <h1><%= module.code %>: <%= module.title %></h1>
        <p><%= module.description %></p>
        <% if(currentUser) { %>
            <% for(const admin of module.admins) { %>
                <% if (admin._id.toString()==currentUser._id.toString()) { %>
                    <div>
                        <a class="btn btn-info" href="/modules/<%= module._id%>/edit">Edit <%= module.code %> Details</a>
                        <form action="/modules/<%= module._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
               
    </div>
    <div class="container">
        <h2>Add a new task:</h2>
        <form action="/modules/<%= module._id%>/tasks" method="POST" class="validated-form" novalidate>
            <div>
                <label for="task">Task:</label>
                <textarea class="form-control" name="task[task]" id="task" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div>
                <label for="modelAnswer">Model Answer:</label>
                <textarea class="form-control" name="task[modelAnswer]" id="modelAnswer" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } %>
            <% } %>
        
        <% } %>
        <% for(let task of module.tasks) { %>
            <div class="card mb-3 ">
                <div class="card-body">
                    <h5 class="card-title">Task: <%= task.task %></h5>
                    <p class="card-text">Number of answers submitted: <%= task.studentAnswers.length %></p>
                    <form action="/modules/<%=module._id%>/tasks/<%=task._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
    </div>
        
    <br>
    <a href="/modules">All Modules</a>
