<% layout('layouts/boilerplate')%>

<h1>All Resources</h1>
    <div class="row">
        <% if(currentUser) { %>
            <% if(currentUser.lecturer == true){ %>
                <div>
                    <a class="btn btn-info" href="/resources/new">Add New Resource</a>
                </div>
            <% } %>
        <% } %>
        <% for (let resource of resources){%>
            <div class="card m-1" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= resource.title %></h5>
                    <p class="card-text"><%= resource.description %></p>
                    <a href="<%= resource.url %>" class="btn btn-primary" target="_blank"><%= resource.title %></a>
                    <% if(currentUser) { %>
                        <% if(currentUser.lecturer == true){ %>
                            <a href="/resources/<%= resource._id %>/edit" class="btn btn-info">Edit <%= resource.title %></a>
                            <form action="/resources/<%= resource._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete Resource</button>
                            </form>
                            <% } %>
                    <% } %>       
                </div>
            </div>
        <% } %>
            <div>
            
            
        </div>
    </div>