<% layout('layouts/boilerplate')%>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Resources</li>
    </ol>
  </nav>
<h1>All Resources</h1>


        <div class="row m-3">
            <% if(currentUser) { %>
                <% if(currentUser.lecturer == true){ %>
                    <div>
                        <a class="btn btn-info" href="/resources/new"><i class="fa-regular fa-plus"></i> New Resource</a>
                    </div>
                <% } %>
            <% } %>
        </div>
        
        <div class="row m-2">
            <% for (let resource of resources){%>
                <div class="card m-1" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= resource.title %></h5>
                        <p class="card-text"><%= resource.description %></p>
                        <a href="<%= resource.url %>" class="btn btn-primary mb-2" target="_blank"><i class="fa-regular fa-up-right-from-square"></i> <%= resource.title %></a>
                        <% if(currentUser) { %>
                            <% if(currentUser.lecturer == true){ %>
                                <div class="text-right">
                                    <a href="/resources/<%= resource._id %>/edit" class="btn btn-info mb-2 ml-2"><i class="fa-regular fa-pen-to-square"></i> Edit</a>
                                    <form action="/resources/<%= resource._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger mb-2 ml-2"><i class="fa-regular fa-trash-can"></i> Delete</button>
                                    </form>
                                </div>
                                
                            <% } %>
                        <% } %>       
                    </div>
                </div>
            <% } %>
       
    </div>