<% layout('layouts/boilerplate')%>
<div class="container mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="breadcrumb-item" href="/modules">Modules</a></li>
          <li class="breadcrumb-item"><a class="breadcrumb-item" href="/modules/<%= module._id%>"><%= module.code %></a></li>
          <li class="breadcrumb-item active" aria-current="page">Feedback</li>
        </ol>
      </nav>
    <h3>Task: <%= task.task %></h3>
    <p>Text in <font color="red">red</font> is where your answer differs from the model answer. Text in <font color="black">black</font> is where your answer is the same as the model answer. Text in <font color="blue">blue</font> is something you missed.</p>
    <samp>
        <% diff.forEach(d => { %>
            <% if(d.removed) { %>
                <font color="red">
                    <%= d.value %>
                </font>
            <% } else if(!d.added) { %>
                <font color="black">
                    <%= d.value %>
                </font>
            <% } else if(d.added) {%>
                <% for(i=0; i<d.value.length; i++) { v=d.value.split(''); %>
                    <% if(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/.test(v[i])) {%>
                        <font color="blue">
                            <%= v[i] %>
                        </font>
                    <% } %>
                <% } %>
            <% } %>
        <% }) %>
            </samp>
            <p></p>
    <p><%= feedback %></p>
    <p><%= percent %></p>
</div>
<a class="btn btn-primary" href="/modules/<%= module._id%>"><i class="fa-regular fa-arrow-left"></i> Back To Module</a>