<% layout('layouts/boilerplate')%>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="breadcrumb-item" href="/modules">Modules</a></li>
          <li class="breadcrumb-item"><a class="breadcrumb-item" href="/modules/<%= module._id%>"><%= module.code %></a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit Task</li>
        </ol>
      </nav>
    <h1 class="text-center">Edit Task</h1>
    <div class="col-6 offset-3"></div>
        <form action="/modules/<%=module._id%>/tasks/<%=task._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="task">Task</label>
                <textarea class="form-control" name="task[task]" id="task" cols="30" rows="3" required><%= task.task%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="modelAnswer">Model Answer</label>
                <textarea class="form-control" name="task[modelAnswer]" id="task" cols="30" rows="3" required><%= task.modelAnswer%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success"><i class="fa-regular fa-check"></i> Update Task</button>
            </div>
            
        </form>
        
    <a class="btn btn-primary" href="/modules/<%= module._id%>"><i class="fa-regular fa-arrow-left"></i> Back To Module</a>
</div>
</div>