<% layout('layouts/boilerplate')%>
<div class="container mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="breadcrumb-item" href="/modules">Modules</a></li>
          <li class="breadcrumb-item"><a class="breadcrumb-item" href="/modules/<%= module._id%>"><%= module.code %></a></li>
          <li class="breadcrumb-item active" aria-current="page">Show Student Answers</li>
        </ol>
      </nav>
    <h2>Task: <%= task.task %></h2>
    <h3>Model Answer:</h3>
    <textarea class="form-control" readonly><%= task.modelAnswer %></textarea>
    <h3>Student answers:</h3>
        <% for(let answer of task.studentAnswers) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">Student username: <%= answer.student.username %></div>
                    <p class="card-text">Answer:</p>
                    <textarea class="form-control mb-2" readonly><%= answer.answer %></textarea>
                    <% if(answer.comments.length > 0) { %>
                        <p class="card-text">Comments:</p><hr>
                        <% answer.comments.forEach(comment => { %>
                                <p class="card-text"><%= comment.username %>: <%= comment.comment %></p>
                        <% }); %>
                    <% } %>
                    <a href="/modules/<%= module._id %>/tasks/<%= task._id %>/answers/<%= answer._id %>" class="btn-sm btn-info"><i class="fa-solid fa-comments"></i> Comment</a>
    
                </div>
            </div>
        <% } %>
    
    <a class="btn btn-primary" href="/modules/<%= module._id %>"><i class="fa-regular fa-arrow-left"></i> Back To Module</a>       
</div>