<% layout('layouts/boilerplate')%>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/modules">Modules</a></li>
          <li class="breadcrumb-item"><a href="/modules/<%= module._id%>"><%= module.code %></a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
      </nav>
        <h1 class="text-left">Submit Answer for: </h1>
        <h2 class="text-left"><%=task.task%></h2>
        <form action="/modules/<%=module._id%>/tasks/<%=task._id%>/submit?_method=PUT" method="POST" novalidate class="validated-form">
            
            <div class="mb-3">
                <label class="form-label" for="answer">Answer</label>
                <textarea class="form-control" name="answer" id="answer" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success"><i class="fa-regular fa-check"></i> Submit</button>
            </div>
            
        </form>
        <a class="btn btn-primary" href="/modules/<%= module._id%>"><i class="fa-regular fa-arrow-left"></i> Back To Module</a>
    </div>
    

</div>